.contato-form, .login-form, .register-form {
    position: relative;
    top: 40px;
}

.login-button:hover, .register-form:hover {
    cursor: pointer;
}

.login-button, .register-button{
    color: rgb(41, 80, 255);
    font-weight: bold;
}

.login-form {
    display: none;
}

a {
    text-decoration: none;
}

#no-contact{
    margin-top: 50px;
    font-weight: 300;
    color: rgb(86, 86, 86);
    letter-spacing: 1px;
}