<% if(errorMessages.length > 0) { %>
    <div class="row">
        <div class="col my-1">
        <div class="alert alert-danger">
            <% errorMessages.forEach(erro => { %>
             <%= erro %> <br>
            <% }); %>
        </div>
        </div>
    </div>
<% } %>

<% if(successMessage.length > 0) { %>
    <div class="row">
        <div class="col my-1">
        <div class="alert alert-success">
            <% successMessage.forEach(success => { %>
             <%= success %> <br>
            <% }); %>
        </div>
        </div>
    </div>
<% } %>