<%- include('includes/head.ejs') %>
<%- include('includes/navBar.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Seus contatos estão abaixo</p>

      <div class="responsive-table">
      <table class="table my-3">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Número</th>
            <th scope="col">email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Brenda</td>
            <td>Reis</td>
            <td>(21)99595-9595</td>
            <td>emaildomeuamor@gmail.com</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer.ejs') %>